.welcome-div{
   display: flex;
   justify-content: center;
   align-items: center; 
}

.welcome{
width: 600px;
}


.login-div{
    box-sizing: border-box;
    height: 140%
}


.reg .login-div{
    padding: 30px;
    box-sizing: border-box;
    height: 140%
}

.login-div .login-register{
    
    overflow: hidden;
}